h1 {
  font-size:  2.4em;
  border-bottom: solid 2px;
}
h2 {
  font-size:  1.9em;
}

h3 {
  font-size:  1.2em;
}

article video {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto .5em;
}

.slim-figure {
  margin: 0;
  padding: 0;
}

.post-title {
  font-size: 2.7em;
  border-bottom: solid 3px;
  margin-right: auto;
}

.publish-info {
  display: flex;
  padding: 1em 0;
  font-weight: lighter;
}

.publish-info ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.changelog,
.publish-info li {
  padding: .3em 0;
}

.changelog {
  text-align: right;
  margin-left: auto;
}

.top-theme-switcher {
  text-align: right;
}

.theme-switcher {
  margin-bottom: 0;
}
